*{
    margin: 0;
    padding: 0;

}
body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, rgb(125, 192, 197) , rgb(12, 74, 102)); /* Standard syntax */
}

.content{
    padding: 142px
}

span.h1{
 font-size: 24px;
 color: #aecdd5;
 
}


body input{
    width: 77px;
    height: 33px;
    margin: 14px;
}
.navbar{
    background-color: #266182;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41px;
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
body h2 {
margin: 20px;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
   

}
